{% extends "base_site.html" %}

{% block title %} Landing Page {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block banner %}
    {% include "roi.html" %}
{% endblock banner %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center pb-5">Please Register or Login to Play</h1>
    <div class="register py-5">
        <h2 class="h2">Register</h2>
        <form action='/register' method='POST' class="form-group g-0">
            {% csrf_token %}
            {{RegForm.as_p}}
            <input class="btn btn-light btn-lg btn-block active" type="submit" value="Sign Up!">
        </form>
    </div>
    <div class="login">
        <h2 class="h2">Login</h2>
        <form action='/login' method="POST" class="form-group">
            {% csrf_token %}
            {{LogForm.as_p}}
                <!-- Register Button -->
                <input class="btn btn-light btn-lg btn-block active" type="submit" id="button2" value="Log In" aria-label="login">
        </form>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}