<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<title>Blackjack!</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="h1">Blackjack</h1>
		</div>
		<div class="row">
			<div class="col-3">
				<h2 class="h2">Leaderboard</h2>
				<table>
					<thead>
						<tr>
							<th>Player</th>
							<th>Winnings</th>
							<th>Return %</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Charlie</td>
							<td>$1,000</td>
							<td>25%</td>
						</tr>
						<tr>
							<td>Bill</td>
							<td>$1,000</td>
							<td>25%</td>
						</tr>
						<tr>
							<td>John</td>
							<td>$1,000</td>
							<td>25%</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-6">
				<div style="width: 300px; height: 300px; background-color: aqua;"></div>
			</div>
			<div class="col-3">
				<h2 class="h2">Loserboard</h2>
				<table>
					<thead>
						<tr>
							<th>Player</th>
							<th>Losses</th>
							<th>Return %</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Charlie</td>
							<td>$1,000</td>
							<td>-25%</td>
						</tr>
						<tr>
							<td>Bill</td>
							<td>$1,000</td>
							<td>-25%</td>
						</tr>
						<tr>
							<td>John</td>
							<td>$1,000</td>
							<td>-25%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	</div>
</body>
</html>