<h2 class="h2">Leaderboard</h2>
<table class="table">
    <thead>
        <tr>
            <th class="h3">Player</th>
            <th class="h3">Winnings</th>
            <th class="h3">Return %</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Charlie</td>
            <td>$1,000</td>
            <td>25%</td>
        </tr>
        <tr>
            <td>Bill</td>
            <td>$1,000</td>
            <td>25%</td>
        </tr>
        <tr>
            <td>John</td>
            <td>$1,000</td>
            <td>25%</td>
        </tr>
    </tbody>
</table>