<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/test_page.js' %}"></script>
    <title>Test Page</title>
</head>
<body>
    <h1>Test Page</h1>
    <div id="game_table">
        <h2>Test Table Pre</h2>
        {% csrf_token %}
        <button id="press_me">Press Me!</button>
    </div>
</body>
</html>